## Figure Widget with plotly.py
Friday 20 May 2022.
Bambo Jude Afanyu

In [1]:
import pandas as pd
import numpy as np

url = 'https://datahub.io/core/global-temp/r/annual.csv'
annual_temp = pd.read_csv(url, sep=",")

In [2]:
annual_temp.sample(10)

      Source  Year    Mean
167  GISTEMP  1933 -0.2900
99   GISTEMP  1967 -0.0200
67   GISTEMP  1983  0.3000
205  GISTEMP  1914 -0.1600
105  GISTEMP  1964 -0.2000
147  GISTEMP  1943  0.1300
54      GCAG  1989  0.2970
202     GCAG  1915 -0.0693
12      GCAG  2010  0.7014
272     GCAG  1880 -0.1148

## Constructing plotly.py Figure widget

In [3]:
import plotly.graph_objs as go

In [4]:
fig = go.FigureWidget(
data=[
    dict(
    type='scattergl',
    x = annual_temp['Year'],
    y = annual_temp['Mean'],
    mode ='markers')
],
)

In [5]:
fig

FigureWidget({
    'data': [{'mode': 'markers',
              'type': 'scattergl',
              'uid': '52757â€¦

## Labelling Figure

The fig.layout.title is used to set the plots title. The plot is updated automatically without having to run the notebook

In [6]:
fig.layout.title = 'ANNUAL MEAN TEMPERATURE CHANGE' ## title of plot

## Increasing font size

In [7]:
fig.layout.titlefont.size = 25

## Font family

In [8]:
fig.layout.titlefont.family = 'Times' ## font family assigned to times

## Labelling Axes

fig.layout.xaxis.title property to set x axis
and fig.layout.yaxis.title for the y axis

In [9]:
fig.layout.xaxis.title = 'Year' 
fig.layout.yaxis.title = 'Mean Temperature'

## Avoiding overplotting

Apply Jitter

In [10]:
scatter = fig.data[0]
scatter

Scattergl({
    'mode': 'markers',
    'uid': '527576a7-c327-4325-b061-84ebc167e7fa',
    'x': array([2016, 2016, 2015, ..., 1881, 1880, 1880]),
    'y': array([ 0.9363,  0.99  ,  0.8998, ..., -0.12  , -0.1148, -0.2   ])
})

In [11]:
N = len(annual_temp)
scatter.x = scatter.x + np.random.rand(N)
scatter.y = scatter.y + np.random.rand(N)

In [12]:
import plotly.express as px

## Density Contour

In [13]:
contour = fig.add_histogram2dcontour(
x = scatter.x, y = scatter.y)

In [14]:
opacity=scatter.marker.opacity
size =scatter.marker.opacity